# Home task: pandas 

## Question 1

- Load the energy data from the file [Energy Indicators.xls](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls).
It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.


- It should be put into a DataFrame with the variable name of "energy"


- Make sure to exclude the footer and header information from the datafile.


- The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:<br>
`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`


- Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).


- For all countries which have missing data (e.g. data with `...`) make sure this is reflected as `np.NaN` values.


- Rename the following list of countries (for use in later questions):
    - `Republic of Korea`: `South Korea`,
    - `United States of America`: `United States`,
    - `United Kingdom of Great Britain and Northern Ireland`: `United Kingdom`,
    - `China, Hong Kong Special Administrative Region`: `Hong Kong`


- There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:
    - `Bolivia (Plurinational State of)` should be `Bolivia`,
    - `Switzerland17` should be `Switzerland`.


- Next, load the GDP data from the file ["world_bank.csv"](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). 
It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"


- Make sure to skip the header, and rename the following list of countries:
    - `Korea, Rep.`: `South Korea`,
    - `Iran, Islamic Rep.`: `Iran`,
    - `Hong Kong SAR, China`: `Hong Kong`


- Finally, load the "Sciamgo Journal and Country Rank data for [Energy Engineering and Power Technology"](http://www.scimagojr.com/countryrank.php?category=2102). It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"


- Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).


- The index of this DataFrame should be the name of the country, and the columns should be<br>
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']`

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

### Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

In [149]:
# Install libraries from requirements.txt
%pip install -r "C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt"

Requirement already satisfied: numpy==1.26.4 in c:\users\dell\anaconda3\lib\site-packages (from -r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 1)) (1.26.4)
Requirement already satisfied: matplotlib==3.9.2 in c:\users\dell\anaconda3\lib\site-packages (from -r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (3.9.2)
Requirement already satisfied: scipy==1.13.1 in c:\users\dell\anaconda3\lib\site-packages (from -r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 3)) (1.13.1)
Requirement already satisfied: openpyxl==3.1.5 in c:\users\dell\anaconda3\lib\site-packages (from -r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 4)) (3.1.5)
Requirement already satisfied: xlrd==2.0.1 in c:\users\dell\anaconda3\lib\site-packages (from -r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 5)) (2.0.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib==3.9.2->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib==3.9.2->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib==3.9.2->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib==3.9.2->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib==3.9.2->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib==3.9.2->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib==3.9.2->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib==3.9.2->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: et-xmlfile in c:\users\dell\anaconda3\lib\site-packages (from openpyxl==3.1.5->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 4)) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib==3.9.2->-r C:\Users\DELL\Documents\GitHub\Data_Science\requirements.txt (line 2)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [150]:
# Import libraries
import pandas as pd

In [151]:
# File names
ENERGY_FILE = "Energy Indicators.xls"
GDP_FILE = "world_bank.csv"
SCIM_ENERGY_FILE = "scimagojr.xlsx"

In [152]:
# Rename countries
rename = {
    "Republic of Korea": "South Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"
}

# Function to clean country names
def clean_country_name(name):
    name = str(name)
    if name in rename:
        return rename[name]
    return name.split(" (")[0] # Remove parenthesis if present

# Load data
df_energy = pd.read_excel(
    ENERGY_FILE,
    sheet_name="Energy",
    skiprows=17, # Skip header information
    skipfooter=38, # Skip footer information
    usecols="B, D:F", # Select neccessary columns
    names=["Country", "Energy Supply", "Energy Supply per Capita", "% Renewable"],
    converters={
        "Country": clean_country_name, # Apply renaming and cleaning
    },
    na_values="...", # Convert "..." to NaN values
    )

# Convert numeric values safely
df_energy["Energy Supply"] = pd.to_numeric(df_energy["Energy Supply"], errors="coerce") * 1_000_000
df_energy["Energy Supply per Capita"] = pd.to_numeric(df_energy["Energy Supply per Capita"], errors="coerce")

# Set "Country" column as DataFrame index
df_energy.set_index("Country", inplace=True)

df_energy.head()

                 Energy Supply  Energy Supply per Capita  % Renewable
Country
Afghanistan      321,000,000.0                      10.0         78.7
Albania          102,000,000.0                      35.0        100.0
Algeria        1,959,000,000.0                      51.0          0.6
American Samoa             NaN                       NaN          0.6
Andorra            9,000,000.0                     121.0         88.7

In [153]:
# Rename countries
rename = {
    "Czechia": "Czech Republic",
    "Egypt, Arab Rep.": "Egypt",
    "Micronesia, Fed. Sts.": "Micronesia",
    "Hong Kong SAR, China": "Hong Kong",
    "Macao SAR, China": "Macao",
    "Iran, Islamic Rep.": "Iran",
    "Korea, Rep.": "South Korea",
    "Korea, Dem. People's Rep.": "North Korea",
    "Venezuela, RB": "Venezuela",
}

# Function to clean country names
def clean_country_name(name):
    name = str(name)
    if name in rename:
        return rename[name]
    return name.split(" (")[0] # Remove parenthesis if present

# Load data
df_gdp = pd.read_csv(
    GDP_FILE,
    skiprows=4, # Skip header information
    converters={
        "Country": clean_country_name, # Apply renaming and cleaning
    }
    )

# Set "Country Name" column as DataFrame index
df_gdp.set_index("Country Name", inplace=True)

df_gdp.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,791,061,452.5","2,963,128,491.6","2,983,798,882.7","3,092,178,770.9","3,276,187,709.5","3,395,793,854.7","2,610,038,938.5","3,126,019,385.5",NaN,NaN
Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,"21,125,015,452.2","21,616,228,139.0","23,506,279,900.0","28,048,360,188.3","25,920,665,259.9","29,472,103,269.7","32,014,368,121.4",...,"1,006,526,390,112.8","927,348,469,903.1","885,176,429,223.5","1,021,043,200,767.0","1,007,196,197,587.4","1,000,834,077,088.6","927,593,321,647.7","1,081,998,139,192.5","1,169,483,734,191.5",NaN
Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,"537,777,811.1","548,888,895.6","546,666,677.8","751,111,191.1","800,000,044.4","1,006,666,637.8","1,399,999,966.7",...,"20,550,582,746.8","19,998,143,635.9","18,019,554,403.5","18,896,353,155.9","18,418,860,354.4","18,904,502,222.2","20,143,451,705.8","14,583,135,236.6",NaN,NaN
Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,"10,447,637,852.9","11,173,212,080.4","11,990,534,017.9","12,727,688,165.5","13,898,109,284.0","14,929,792,387.5","15,910,837,742.0",...,"894,322,482,190.3","768,644,740,597.1","691,363,412,188.5","684,898,755,570.7","767,025,741,475.0","822,538,393,591.4","786,460,035,395.0","844,459,722,153.0","877,863,284,874.1",NaN
Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"137,244,439,121.4","87,219,300,384.5","49,840,491,178.2","68,972,769,395.6","77,792,944,471.9","69,309,110,145.8","50,241,368,243.6","65,685,435,100.5","106,713,618,735.4",NaN

In [154]:
SCIM_ENERGY_FILE

# Load data
scim_en = pd.read_excel(
    SCIM_ENERGY_FILE,
)

# Set "Country" column as DataFrame index
scim_en.set_index("Country", inplace=True)

scim_en.head()

,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,
China,1,Asiatic Region,273437,272374,2336764,1615239,8.6,245
United States,2,Northern America,175891,172431,2230544,724472,12.7,363
India,3,Asiatic Region,55082,53775,463165,162944,8.4,181
Japan,4,Asiatic Region,50523,50065,488062,119930,9.7,193
United Kingdom,5,Western Europe,43389,42284,615670,111290,14.2,226

In [155]:
def answer_one():
    top_15 = df_energy.join([df_gdp, scim_en], how="inner")
    
    # Set name of DataFrame index as "Country"
    top_15.index.name = "Country"
    
    # Columns names for the returned DataFrame
    columns = [
        "Rank", "Documents", "Citable documents", "Citations", "Self-citations", "Citations per document", "H index",
        "Energy Supply", "Energy Supply per Capita", "% Renewable",
        "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"
    ]

    # Sort DataFrame by "Rank" column and get first 15 rows
    return top_15[columns].sort_values("Rank").head(15)

answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,273437,272374,2336764,1615239,8.6,245,"127,191,000,000.0",93.0,19.8,"2,752,118,542,130.4","3,550,327,569,655.5","4,594,336,785,737.7","5,101,691,085,626.0","6,087,191,720,866.7","7,551,545,321,799.9","8,532,185,615,746.6","9,570,470,577,244.9","10,475,624,783,235.6","11,061,573,199,439.7"
United States,2,175891,172431,2230544,724472,12.7,363,"90,838,000,000.0",286.0,11.6,"13,815,586,948,000.0","14,474,226,905,000.0","14,769,857,911,000.0","14,478,064,934,000.0","15,048,964,444,000.0","15,599,728,123,000.0","16,253,972,230,000.0","16,843,190,993,000.0","17,550,680,174,000.0","18,206,020,741,000.0"
India,3,55082,53775,463165,162944,8.4,181,"33,195,000,000.0",26.0,15.0,"940,259,888,792.1","1,216,736,448,906.3","1,198,895,147,694.8","1,341,888,016,988.6","1,675,615,502,766.2","1,823,051,829,894.6","1,827,637,579,584.8","1,856,721,494,834.6","2,039,126,469,963.4","2,103,588,347,241.8"
Japan,4,50523,50065,488062,119930,9.7,193,"18,984,000,000.0",149.0,10.2,"4,601,662,661,030.1","4,579,749,785,984.8","5,106,679,413,137.6","5,289,493,734,900.4","5,759,071,769,013.1","6,233,147,172,341.3","6,272,362,996,105.0","5,212,328,181,166.2","4,896,994,405,353.3","4,444,930,651,964.2"
United Kingdom,5,43389,42284,615670,111290,14.2,226,"7,920,000,000.0",124.0,10.6,"2,709,978,165,671.0","3,092,996,468,387.2","2,931,683,721,186.8","2,417,565,709,974.5","2,491,397,494,468.0","2,666,403,005,061.4","2,706,340,967,030.7","2,786,315,215,250.0","3,065,223,279,583.8","2,934,857,946,213.5"
Germany,6,38739,38013,433148,95145,11.2,196,"13,261,000,000.0",165.0,17.9,"2,994,703,642,023.5","3,425,578,382,921.6","3,745,264,093,617.2","3,411,261,212,652.3","3,399,667,820,000.1","3,749,314,991,050.6","3,527,143,188,785.2","3,733,804,649,549.1","3,889,093,051,023.5","3,357,585,719,351.6"
Russian Federation,7,36735,36560,115938,54993,3.2,90,"30,709,000,000.0",214.0,17.3,"989,932,059,220.7","1,299,703,459,800.0","1,660,848,058,303.1","1,222,645,887,209.3","1,524,916,698,232.7","2,045,922,727,569.8","2,208,293,528,674.0","2,292,470,104,248.2","2,059,241,582,146.1","1,363,482,179,761.2"
Canada,8,33472,32863,568080,100953,17.0,227,"10,431,000,000.0",296.0,61.9,"1,319,264,809,591.0","1,468,820,407,783.3","1,552,989,690,721.6","1,374,625,142,157.3","1,617,343,367,486.3","1,793,326,630,174.5","1,828,366,481,521.6","1,846,597,421,835.0","1,805,749,878,439.9","1,556,508,816,217.1"
Italy,9,27983,26940,352993,87828,12.6,166,"6,530,000,000.0",109.0,33.7,"1,949,551,719,389.6","2,213,102,482,751.5","2,408,655,348,718.6","2,199,928,804,118.6","2,136,099,955,236.7","2,294,994,296,589.5","2,086,957,656,821.6","2,141,924,094,298.6","2,162,009,615,996.5","1,836,637,711,060.6"
France,11,25232,24732,343860,65734,13.6,178,"10,597,000,000.0",166.0,17.0,"2,320,536,221,304.7","2,660,591,246,211.8","2,930,303,780,828.1","2,700,887,366,932.0","2,645,187,882,116.7","2,865,157,541,994.2","2,683,671,716,967.2","2,811,876,903,329.0","2,855,964,488,590.1","2,439,188,643,162.5"
Spain,13,21955,21597,352497,64588,16.1,176,"4,923,000,000.0",106.0,38.0,"1,260,398,977,831.8","1,474,002,579,820.0","1,631,863,493,552.3","1,491,472,923,706.6","1,422,108,199,783.4","1,480,710,495,710.1","1,324,750,738,725.0","1,355,579,535,912.6","1,371,820,537,888.6","1,196,156,971,279.7"
Brazil,14,21524,21236,183915,45172,8.5,127,"12,149,000,000.0",59.0,69.6,"1,107,626,711,436.4","1,397,114,247,287.6","1,695,855,391,816.5","1,666,996,294,324.8","2,208,838,108,593.2","2,616,156,606,734.5","2,465,228,293,862.6","2,472,819,362,259.0","2,456,043,766,063.5","1,802,211,999,555.6"
Australia,15,20614,20147,314307,51583,15.2,176,"5,386,000,000.0",231.0,11.8,"747,907,432,136.6","854,427,259,166.2","1,055,686,110,665.5","928,629,769,751.9","1,148,569,537,284.6","1,398,456,161,407.9","1,546,952,690,140.0","1,576,329,690,003.9","1,467,589,901,175.5","1,350,580,336,316.8"
Norway,18,10862,10731,123291,24525,11.3,125,"1,388,000,000.0",273.0,97.6,"346,913,357,588.4","402,645,550,184.8","464,917,553,191.5","387,974,344,023.3","431,052,143,940.4","501,360,549,669.4","512,777,309,841.0","526,014,468,085.1","501,736,471,832.8","388,159,512,245.5"
Netherlands,19,10853,10590,153253,19912,14.1,142,"3,199,000,000.0",190.0,6.3,"733,955,269,898.8","848,558,887,541.2","951,869,997,864.1","871,518,638,049.2","847,380,859,016.7","905,270,626,332.7","838,923,319,919.5","877,172,824,534.5","892,167,986,713.7","765,572,770,634.4"

### Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [156]:
def answer_two():
    # Get the top 15 countries DataFrame from the answer_one function
    top15 = answer_one()

    # Calculate the average GDP over the last 10 years (2006-2015) for each country
    avg_gdp = top15.loc[:, "2006":"2015"].mean(axis="columns").sort_values(ascending=False)
    
    # Return the result as a DataFrame (table)
    return avg_gdp

answer_two()

Country
United States        15,704,029,340,300.0
China                 6,927,706,520,148.3
Japan                 5,239,642,077,099.6
Germany               3,523,341,675,097.5
United Kingdom        2,780,276,197,282.7
France                2,691,336,579,143.6
Italy                 2,142,986,168,498.2
Brazil                1,988,889,078,193.4
Russian Federation    1,666,745,628,516.5
Canada                1,616,359,264,592.8
India                 1,602,352,072,666.7
Spain                 1,400,886,445,421.0
Australia             1,207,512,888,804.9
Netherlands             853,239,118,050.5
Norway                  446,355,126,060.2
dtype: float64

### Question 3
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [157]:
def answer_three():
    # Get the top 15 countries DataFrame from the answer_one function
    top15 = answer_one()
    
    # Get the average GDPs from the answer_two function
    avg_gdps = answer_two()
    
    # Sort average GDPs in descending order and get the name of country on 6th position
    country_6th_gdp = avg_gdps.sort_values(ascending=False).index[5]

    # Get GDP values in year 2006 and 2015 for country on 6th position
    country_gdp = top15.loc[country_6th_gdp, ["2006", "2015"]]

    # Calculate the difference between GDP value in 2015 and in 2006
    return country_gdp["2015"] - country_gdp["2006"]

answer_three()

118652421857.7998

### Question 4

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [158]:
def answer_four():
    # Get the DataFrame containing the top 15 countries from answer_one function
    top_15 = answer_one()

    # Calculate the ratio of self-citations to total citations
    top_15["Self-citations ratio"] = top_15["Self-citations"] / top_15["Citations"]

    # Find the country with the highest self-citations ratio
    max_ratio = top_15[top_15["Self-citations ratio"] == top_15["Self-citations ratio"].max()]["Self-citations ratio"]

    # Return a tuple containing the country name (index) and the highest self-citations ratio (value)
    return (max_ratio.index.item(), max_ratio.item())

answer_four()

('China', 0.6912289816173135)

### Question 5

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [159]:
def answer_five():
    # Get the DataFrame containing the top 15 countries from answer_one function
    top_15 = answer_one()

    # Estimate the population by performing integer division:
    # "Energy Supply" divided by "Energy Supply per Capita"
    top_15["Population"] = top_15["Energy Supply"].floordiv(top_15["Energy Supply per Capita"])

    # Sort countries by population in descending order and return the country at the 3rd position (index 2)
    return top_15.sort_values("Population", ascending=False).index[2]

answer_five()

'United States'

### Question 6
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [160]:
def answer_six():
    # Get the DataFrame containing the top 15 countries from answer_one function
    top15 = answer_one()

    # Estimate the population by performing integer division:
    # "Energy Supply" divided by "Energy Supply per Capita"
    top15["Population"] = top15["Energy Supply"].floordiv(top15["Energy Supply per Capita"])

    # Calculate the number of citable documents per capita by dividing 
    # "Citable documents" by the estimated population
    top15["Citable documents per Capita"] = top15["Citable documents"] / top15["Population"]

    # Compute the Pearson correlation coefficient between 
    # "Citable documents per Capita" and "Energy Supply per Capita"
    correlation = top15[["Citable documents per Capita", "Energy Supply per Capita"]].corr().iloc[0, 1]

    return correlation

answer_six()

0.660066066101692

### Question 7
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [161]:
def answer_seven():
    # Define a dictionary mapping country names to their respective continents
    continent_dict = {
        "China": "Asia",
        "United States": "North America",
        "Japan": "Asia",
        "United Kingdom": "Europe",
        "Russian Federation": "Europe",
        "Canada": "North America",
        "Germany": "Europe",
        "India": "Asia",
        "France": "Europe",
        "South Korea": "Asia",
        "Italy": "Europe",
        "Spain": "Europe",
        "Iran": "Asia",
        "Australia": "Australia",
        "Brazil": "South America"
    }

    # Get the DataFrame containing the top 15 countries from answer_one function
    top_15 = answer_one().reset_index()

    # Create a new column "Continent" by mapping country names to their corresponding continents
    top_15["Continent"] = top_15["Country"].map(continent_dict)
    
    # Estimate the population by performing integer division:
    # "Energy Supply" divided by "Energy Supply per Capita"
    top_15["Population"] = top_15["Energy Supply"].floordiv(top_15["Energy Supply per Capita"])

    # Group data by "Continent" and compute:
    # - "size"  → Number of countries per continent (count of "Country")
    # - "sum"   → Total population per continent
    # - "mean"  → Average population per continent
    # - "std"   → Standard deviation of population within each continent
    continents = top_15.groupby("Continent")[["Country", "Population"]].agg(
        {"Country": "count", "Population": ["sum", "mean", "std"]}
    )

    # Rename columns for better readability
    continents.columns = ["size", "sum", "mean", "std"]
    
    return continents

answer_seven()

               size             sum          mean           std
Continent
Asia              3 2,771,785,325.0 923,928,441.7 691,301,888.1
Australia         1    23,316,017.0  23,316,017.0           NaN
Europe            6   457,929,664.0  76,321,610.7  34,647,667.2
North America     2   352,855,248.0 176,427,624.0 199,669,645.0
South America     1   205,915,254.0 205,915,254.0           NaN